body{
    display: flex;
}
aside{
    width: 255px;
    height: 100vh;
    left: 0px;
    top: 0px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav ul{
    position: absolute;
}

nav ul li {
    margin-top: 28px;
    text-align: justify;
    margin-left: 48px;
    list-style: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2px;
    color: #1E1E1E;

} 

nav ul li:nth-child(1){
    font-family: Gotham;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #1406B4;
    letter-spacing: 10.9px;
    text-transform: uppercase;
    font-weight: 500;
}
button{
    width: 150px;
    height: 50px;
    background: #EB444E;
    outline: none;
    border: none;
    color: #fff;
    text-align: center;
    margin-left: 53px;
    margin-bottom:  40px;
    cursor: pointer;
}
table {
	
	border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 500px; 
}
th,
td {
    padding: 15px;
	background-color: rgba(255,255,255,0.2);
    color: #1e1e1e;
    font-family: 'Gotham Book';
    font-weight: normal;
    font-style: normal;
    font-size: 14px;

}



table thead tr th:nth-child(1){

    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;

    /* grayscale / black */
    color: #252733;
}
table thead tr th:nth-child(2){
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.2px;

    /* accent / default */
    color: #3751FF;

}

th {
    text-align: left;
}
.color{
    background-color: #f1f1f1;
}
.nome{
    text-align: right;
}